.innerLink h1 a {
  display: block;
  padding-top: 170px;
  margin-top: -170px;
}

.innerLink h2 a {
  display: block;
  padding-top: 170px;
  margin-top: -170px;
}

.innerLink h3 a {
  display: block;
  padding-top: 170px;
  margin-top: -170px;
}

.innerLink h4 a {
  display: block;
  padding-top: 170px;
  margin-top: -170px;
}
