.blog-heading h1 a,
.blog-heading h2 a,
.blog-heading h3 a,
.blog-heading h4 a {
  pointer-events: none;
  display: block;
  padding-top: var(--header-height);
  margin-top: calc(-1 * var(--header-height));
}
