* {
  padding: 0;
  margin: 0;
  line-height: 1em;
}

.hoverOpacity {
  &:hover {
    opacity: 0.5;
  }
}

.hoverBackgroundColor {
  &:hover {
    background-color: #f0f0f0;
  }
}

.hoverPostPreview {
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}
